/* Footer */
.footer {
    margin-top: auto;
    width: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    background-color: color-mix(in srgb, var(--arena) 80%, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.footer p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    color: var(--blanco);
}